# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual env
venv/
env/
ENV/

# Django
*.log
local_settings.py
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# Secret
.env
.env.local
secrets.json
