{% extends "base.html" %}
{% block title %}Profil{% endblock %}
{% block content %}
<div class="card">
    <h2>Profil</h2>
    <p><strong>Username:</strong> {{ user_obj.username }}</p>
    <p><strong>Nama:</strong> {{ user_obj.full_name }}</p>
    <p><strong>Email:</strong> {{ user_obj.email }}</p>
    <p><strong>Role:</strong>
        <span class="role-badge role-{{ user_obj.role }}">{{ user_obj.get_role_display }}</span>
    </p>
    <p class="helper">Bergabung sejak: {{ user_obj.date_joined|date:"d M Y" }}</p>
</div>
{% endblock %}
